.AddStockForm {
  position: absolute;
  background: rgb(0 0 0 / 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.AddStockForm .form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.AddStockForm .form-container .form-column {
  box-shadow: 0px 1px 10px 0px #6b6b6b;
  max-width: 450px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background: white;
  padding: 20px;
}

