.AddStockForm .overlay {
  position: fixed;
  background: rgb(0 0 0 / 0.3);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.AddStockForm .form-container {
  position: fixed;
  z-index: 12;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -226px;
}

.AddStockForm .form-container .form-column {
  box-shadow: 0px 1px 10px 0px #6b6b6b;
  min-width: 450px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background: white;
  padding: 20px;
}

.AddStockForm .btn-outline-primary {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 7px 30px;
  height: 40px;
}

@media (max-width: 460px) {
  .AddStockForm .form-container {
    margin-left: -184px;
  }
  .AddStockForm .form-container .form-column {
    min-width: 350px;
  }
}