.Alerts .alert-success {
  color: black;
  background-color: rgb(0 200 5 / 10%);
  border: none;
  border-radius: 0;
  margin: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Alerts .alert-danger {
  color: black;
  background-color: rgb(255 80 0 / 10%);
  border: none;
  border-radius: 0;
  margin: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Alerts h6 {
  font-size: 1.2rem;
}