.App {
  text-align: center;
}

.App .btn-primary {
  background: rgb(0 200 5);
  border: none;
}

.App .btn-outline-primary {
  background: white;
  border: 1px solid #ced4da;
  color: black;
}

.App button.btn-primary:focus,
.App button.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  outline: none;
  box-shadow: none !important;
  background: rgb(0 200 5) !important;
  border: none !important;
}

.App button.btn-outline-primary:focus,
.App button.btn-outline-primary:active {
  outline: none;
  box-shadow: none !important;
  background: white !important;
  border: 1px solid #ced4da !important;
  color: black;
}

.App .btn-primary:hover {
  background: rgb(0 200 5 / 70%);
  border: none;
}

.App button.btn-outline-primary:hover {
  background: white;
  border: 1px solid rgb(0 200 5);
  color: rgb(0 200 5);
}
