.App {
  text-align: center;
}

.App .btn-primary {
  background: rgb(0 200 5);
  border: 1px solid rgb(0 200 5);
}

.App button.btn-primary:focus,
.App button.btn-primary:active {
  outline: none;
  box-shadow: none !important;
  background: rgb(0 200 5) !important;
  border: 1px solid rgb(0 200 5) !important;
}
.App button.btn-primary:hover {
  background: rgb(0 200 5 / 70%);
  border: 1px solid rgb(0 200 5 / 70%);
}

