.Home .banner {
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  background-position: center;
  background-size: cover;
  background-position-y: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .content-wrapper {
  background: rgb(0 0 0 / 70%);
  padding: 12px 50px 20px;
  border-radius: 4px;
}

.Home h1 {
  font-size: 8rem;
  text-shadow: 0px 0px 2px black;
}

.Home .lead {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 0px 2px black;
}

.Home {
  overflow: hidden;
}

@media (max-width: 613px) {
  .Home h1 {
    font-size: 6rem;
  }

  .Home .lead {
    font-size: 1.4rem;
  }
}
